html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
.container{
    font-size: 30px;
    display: flex;
    background-color: wheat;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
}
.display-card{
     width:22%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}
.display-img{
    width: 100%;
}
.cart-section {
    font-size: 35px;
    justify-content: space-around;
    text-align: center;
    background-color: orange;
}