html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
.container{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    width: 100vw;
}
.child{
    border:1px solid red;
    width: 28%;
}
.child-1{
border: 3px solid green;
object-fit:contain;
}
.child-2{
border: 3px solid yellow;
    object-fit: cover;
}
.child-3{
border: 3px solid blue;
}
.card-header{
    font-size: 20px;
}
.card-price{
    font-size: 20px
}
.card-img{
    width: 100%;
}